<h1>Your Notes</h1>

<%= link_to "New Note", new_note_path %>

<hr>

<% @notes.each do |note| %>
    <div>
        <h3><%= link_to note.title, note %></h3>
        <p><%= note.content %></p>

        <%= link_to "Edit", edit_note_path(note) %> |
        <%= link_to "Delete", note, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <hr>
<% end %>    